/* fonts  */
/* 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* 400 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* common styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    align-items: center;
}


/* header section style */
header{
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 677px;
    align-items: center;
}
.flexible-area{
    display: flex;
    width: 100%;
    justify-content: center;
}
.intro h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
    color: white;
    margin-top: 0;
    line-height: 80px;
    margin-bottom: 27px;
}
.link-style{
    width: 168px;
    height: 44px;
    text-decoration: none;
    padding: 10px 24px;
    background-color: #E02C6D;;
    color: white;
    font-style: normal;
    line-height: 24px;
}
.feature-img{
    width: 556.01px;
    height: 438px;
}
.feature-img:hover{
    transform: rotate(360deg);
    transition: transform 3s ease-in-out;
}

/* main section styling */

.players-section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
}
.player{
    width: 330px;
    height: 456px;
    padding: 15px; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-info{
    width: 330px;
    height: 474px;
    margin: 16px 0px;
}
.player img{
    width: 330px;
    height: 256px;
    margin-bottom: 16px;
}
.player h2{
    margin-bottom: 10px;
}
.player-info p{
    font-size: 12px;
    font-weight: 400;
}

/* highlights section styling */
.heading-line{
    width:466px ; 
    Height :309px;
    margin-top: 224px;
    margin-left: 182px;
    margin-right: 0px;
}
.heading-line h1{
    width: 490px;
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
    color: #0A0826;
    margin-bottom: 8px;
    
}
.heading-line p{
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 24px;
}
.highlight-img{
    width: 567px;
    height: 427px;
    margin-top: 164px;
    margin-right: 156px;
}
/* ----------
upcoming matches styling
--------- */

.section-title{
    margin-left: 50px;
}
.flag{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
}
.match{
    width: 330px;
    height: auto;
    padding: 15px;
    display: flex; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.against-team{
    width: 50%;
    height: 100%;
    margin-left: 20px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    
}
.flag-style{
    width: 80px;
    height: 80px;
}
.match-section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.match-info{
    width: 330px;
    height: auto;
    display: flex;
    margin: 16px 0px;
}
.match-info h2{
    text-align: center;
}
/* sponsors section styling */
.brands{
	margin: 100px auto;

}
.brand-elements{
	width: 160px;
    margin: 50px;
}
.brand-elements img{
	width: 100%;
	cursor: pointer;
	
}
/* footer section styling */

.footer-element{
    position: sticky;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    
}
.footer{
    width: 484px;
    height: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo-style{
    width: 483.87px;
    height: 110px;
    text-align: center;
    margin-bottom: 20pxs;
}
.social-links{
    display: flex;
}
.social-links>a>i{
    width: 30px;
    height: auto;
    margin: 0px 14px;
}

